body {
  background: linear-gradient(#99b898, #fecea8, #ff847c, #e84a5f, #2a363b);
  min-height: 100vh;
  height: 100%;
}

a, a:hover, a:visited, a:active {
  text-decoration: none!important;
  color: white;

}

.content {
  padding: 40px!important;
}

.indexcontent p {
  writing-mode:tb-rl;/*IE*/
  writing-mode:vertical-lr;/* OPera/webkit*/
  writing-mode:sideways-lr;/* should be the one */
  float: left;
  padding: 10px;
  margin-right: 50px;
  height: 50vh;

}

.indexcontent p:hover{
  background-color: #fecea8;
  color: #2a363b;

}

.indexcontent{
  min-height: 50vh;
}

.container {
  background: #2a363b;
  color: white;
  /* padding: 25px; */
}

.header-content {
  background-color: #99b898!important;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px!important;
  /* float: left; */
}

.back{
    text-align: center!important;
}

.btn {
  background-color: #ff847c!important;
  border-radius: 0px!important;
  border: 0px!important;
  /* margin: 90%; */
  width: 100%!important;
}
